{% load static forum %}
{# 17でload forumを追加 #}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Forum アプリケーション</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}" />
</head>
<body>
    <h1>掲示板</h1>
    <h2>{{ topic.name }}</h2>
    <table>
        {% for message in object_list %}
        <form action="{% url 'forum:forum' topic.name %}" method="POST">
            {% csrf_token %}
            <tr>
                <th>{{ message.content }}</th>
                {% comment %}
                <th>{{ message.created_at }}</th>
                17で下の|elapsed_timeを追加
                {% endcomment %}
                <th>{{ message.created_at|elapsed_time }}</th>

                {# ↓15で以下を追加 #}
                {% if message.image %}
                <th>
                    <img src="{{ message.image.url }}" >
                </th>
                {% endif %}
                {#↑ ここまで #}
                {% for tag in message.tag.all %}
                    {# <th>{{ tag.name }}</th> #}
                    {# 16で↑を↓に変更 #}
                    <th><a href="{% url 'forum:forum' topic.name %}?tag={{tag.name}}">{{ tag.name }}</a></th>
                {% endfor %}
            </tr>
            <th>コメント数 : {{ message.reply_num }}</th>
            <th>最新コメント : {{ message.latest_reply_date }}</th>
            {% for comment in message.comment.all %}
                <tr>
                    <th>{{ comment.content }}</th>
                    <th>{{ comment.created_at }}</th>
                </tr>
            {% endfor %}

            <tr>
                <th>{{ comment_form }}</th>
                <th><button type="submit" name="comment" value="{{ message.id }}">コメント</button></th>
            </tr>
        </form>
        {% endfor %}
    </table>
        <!-- <form action="{% url 'forum:forum' topic.name %}" method="POST" class="message_form">
            {% csrf_token %}
            {{ message_form.as_table }}
            <button type="submit" name="message" value="value">送信</button>
        </form>  -->
    {# 15で上のform要素を変更 ※class名が違う #}
    <form class="message-form" action="{% url 'forum:forum' topic.name %}" method="POST" enctype="multipart/form-data"> {# enctype を message フォームに設定 #}
        {% csrf_token %}
        {{ message_form }}
        <button type="submit" name="message" value="value">送信</button>
    </form>
    {# 17で以下のformを追加#}
    <form method="GET" class="search-form">
        {{ search_form.keyword }}
        <button type="submit" class="search-form__submit">検索</button>
    </form>
    {# ↑ここまで #}

    <a href="{% url 'forum:index' %}">ホームへ</a>
    {# 16で以下のdivを追加 #}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="{% url 'forum:forum' topic.name %}?{% if tag %}tag={{ tag }}&{% endif %}page=1">&laquo; 先頭へ</a>
            <a href="{% url 'forum:forum' topic.name %}?{% if tag %}tag={{ tag }}&{% endif %}page={{ page_obj.previous_page_number }}">前へ</a>
            {% endif %}

            <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
            <a href="{% url 'forum:forum' topic.name %}?{% if tag %}tag={{ tag }}&{% endif %}page={{ page_obj.next_page_number }}">次へ</a>
            <a href="{% url 'forum:forum' topic.name %}?{% if tag %}tag={{ tag }}&{% endif %}page={{ page_obj.paginator.num_pages }}">最後へ &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>