{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Forum アプリケーション</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}" />
</head>
<body>
    <h1>掲示板</h1>
    <h2>{{ topic.name }}</h2>
    <table>
        {% for message in object_list %}
        <form action="{% url 'forum:forum' topic.name %}" method="POST">
            {% csrf_token %}
            <tr>
                <th>{{ message.content }}</th>
                <th>{{ message.created_at }}</th>
                {% for tag in message.tag.all %}
                    <th>{{ tag.name }}</th>
                {% endfor %}
            </tr>
            <th>コメント数 : {{ message.reply_num }}</th>
            <th>最新コメント : {{ message.latest_reply_date }}</th>
            {% for comment in message.comment.all %}
                <tr>
                    <th>{{ comment.content }}</th>
                    <th>{{ comment.created_at }}</th>
                </tr>
            {% endfor %}

            <tr>
                <th>{{ comment_form }}</th>
                <th><button type="submit" name="comment" value="{{ message.id }}">コメント</button></th>
            </tr>
        </form>
        {% endfor %}
    </table>
    <form action="{% url 'forum:forum' topic.name %}" method="POST" class="message_form">
        {% csrf_token %}
        {{ message_form.as_table }}
        <button type="submit" name="message" value="value">送信</button>
    </form>
    <a href="{% url 'forum:index' %}">ホームへ</a>
</body>
</html>