{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Polls アプリケーション</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
    </head>
    <body>
        <h1>投票アプリ</h1>
        {% if latest_question_list %}
            <ul class="container">
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        <br>
        <a href="{% url 'forum:index' %}">掲示板アプリに移動する</a>
    </body>
</html>
